<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảo đz 10 điểm</title>
</head>
<body>
    <h1>Hello world from foler views</h1>
    <p>
         <% if (data) { %>
    <ul>
      <% for (const key in data) { %>
        <li><strong><%= key %>:</strong> <%= data[key] %></li>
      <% } %>
    </ul>
  <% } else { %>
    <p>Không có dữ liệu đơn hàng</p>
  <% } %>
    </p>
</body>
</html>